@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-right: 80px;

    &--primary {
        color: #fff;
        background-color: variables.$yellow;
    }

    &:hover {
        cursor: pointer;
        background-color: #f0dc9f;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;

        .button {
            margin-right: 0px;
        }
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}